.search-form {
  margin-bottom: 20px;
}
.search-input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}